@using Microsoft.AspNetCore.Components.Authorization
@using Epsa.Client.Pages.Users
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
            
        </Found>
        <NotFound>
            <CascadingAuthenticationState>                
                    <p>Sorry, there's nothing at this address.</p>                
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</CascadingAuthenticationState>